body {
    background-color: darkslateblue ;
}


.container {
    width: 100%;
    text-align: center;
}

h1 {
    color: lightsalmon;
    font-size: 40px;
    text-align: center;
    font-family: 'Bungee Shade', cursive;
}

.player {
    width: 450px;
    margin: 40px;
    display: inline-block;
}

p {
    font-size: 30px;
    color: aquamarine;
    font-family: 'Bungee Inline', cursive;
}

img {
    height: 175px;
    border-radius: 30px;
}

